* {
    margin: 0;
    padding: 0;
}

.fortune-div {
    margin: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    /* background-color: red; */
}

#fortune-msg {
    height: 8vh;
    width: 70vw;

    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fortune-msg-txt {
    padding: 0px 20px;
}

.fortune-action-div {
    padding-left: 10px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;
    gap: 5px;
}

.fortune-action-div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fortune-action-div div label {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.fortune-action-div input {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 2px solid black;
}

.fortune-action-div select {
    height: 40px;
    width: 200px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    border: 2px solid black;
}

/* Stopwatch part goes here */

.stopwatch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.start-btn {
    background-color: rgb(87, 255, 87);
}

.stop-btn {
    background-color: rgb(144, 144, 255);
}

.reset-btn {
    background-color: rgb(247, 88, 88);
}

/*Todo lists part goes here*/

.todo-list-div {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-input {
    width: 50%;
    height: 5vh;
    font-size: 20px;
}

.todos {
    list-style: none;
    width: 50%;
}

.todo {
    font-size: 30px;
    background-color: rgb(161, 255, 161);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.todo span{
    justify-self:center;
    align-self:center;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
